<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.joubin.unmountall</string>
	<key>connections</key>
	<dict>
		<key>BB34C4A9-8B50-405C-976D-4E19468D561C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C28B43A0-8F57-491A-8F8C-9A59BC72CA29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1BF3E95-F9DA-4F6E-8054-53087962DE5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F1BF3E95-F9DA-4F6E-8054-53087962DE5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9879994E-9BBC-4C00-A9F9-EB9A0948287D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joubin Jabbari</string>
	<key>description</key>
	<string>Unmounts all disks physically connected</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unmount All</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>in progress...</string>
				<key>title</key>
				<string>Unmounting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C28B43A0-8F57-491A-8F8C-9A59BC72CA29</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unmount all</string>
				<key>subtext</key>
				<string>Unmounts all drives</string>
				<key>text</key>
				<string>Unmount</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB34C4A9-8B50-405C-976D-4E19468D561C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>finished</string>
				<key>title</key>
				<string>Unmounting</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9879994E-9BBC-4C00-A9F9-EB9A0948287D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>for i in /dev/disk[1-9]; do diskutil unmountDisk $i; done</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1BF3E95-F9DA-4F6E-8054-53087962DE5C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>9879994E-9BBC-4C00-A9F9-EB9A0948287D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BB34C4A9-8B50-405C-976D-4E19468D561C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C28B43A0-8F57-491A-8F8C-9A59BC72CA29</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F1BF3E95-F9DA-4F6E-8054-53087962DE5C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://joubin.me</string>
</dict>
</plist>
